<a href="https://colab.research.google.com/github/alsalas/DIFAC_252591/blob/main/Tarea01_Biopython_Pandas_Altair.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from Bio import ExPASy
from Bio import SwissProt
# Un códido desde Uniprot
code = 'P11166'
handle = ExPASy.get_sprot_raw(code)
prot = SwissProt.read(handle)
secuencia = prot.sequence
secuencia

'MEPSSKKLTGRLMLAVGGAVLGSLQFGYNTGVINAPQKVIEEFYNQTWVHRYGESILPTTLTTLWSLSVAIFSVGGMIGSFSVGLFVNRFGRRNSMLMMNLLAFVSAVLMGFSKLGKSFEMLILGRFIIGVYCGLTTGFVPMYVGEVSPTALRGALGTLHQLGIVVGILIAQVFGLDSIMGNKDLWPLLLSIIFIPALLQCIVLPFCPESPRFLLINRNEENRAKSVLKKLRGTADVTHDLQEMKEESRQMMREKKVTILELFRSPAYRQPILIAVVLQLSQQLSGINAVFYYSTSIFEKAGVQQPVYATIGSGIVNTAFTVVSLFVVERAGRRTLHLIGLAGMAGCAILMTIALALLEQLPWMSYLSIVAIFGFVAFFEVGPGPIPWFIVAELFSQGPRPAAIAVAGFSNWTSNFIVGMCFQYVEQLCGPYVFIIFTVLLVLFFIFTYFKVPETKGRTFDEIASGFRQGGASQSDKTPEELFHPLGADSQV'

In [17]:
# Aminoacid composition
import requests as rq
from bs4 import BeautifulSoup
url = "https://web.expasy.org/protscale/pscale/Hphob.Doolittle.html"
page = rq.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [24]:
import re
import pandas as pd
#print(soup.prettify())
#https://regexr.com
texto   = soup.find_all('pre')
pattern = "(\w+):.(.\d+.\d+)"
table   = re.findall(pattern, str(texto))
dftable = pd.DataFrame(table)
dftable.columns=['AA','KD']
dftable

     AA      KD
0   Ala   1.800
1   Arg  -4.500
2   Asn  -3.500
3   Asp  -3.500
4   Cys   2.500
5   Gln  -3.500
6   Glu  -3.500
7   Gly  -0.400
8   His  -3.200
9   Ile   4.500
10  Leu   3.800
11  Lys  -3.900
12  Met   1.900
13  Phe   2.800
14  Pro  -1.600
15  Ser  -0.800
16  Thr  -0.700
17  Trp  -0.900
18  Tyr  -1.300
19  Val   4.200

In [25]:
dictaa = {'Cys': 'C', 'Asp': 'D', 'Ser': 'S', 'Gln': 'Q', 'Lys': 'K',
     'Ile': 'I', 'Pro': 'P', 'Thr': 'T', 'Phe': 'F', 'Asn': 'N', 
     'Gly': 'G', 'His': 'H', 'Leu': 'L', 'Arg': 'R', 'Trp': 'W', 
     'Ala': 'A', 'Val':'V', 'Glu': 'E', 'Tyr': 'Y', 'Met': 'M'}

aa1 = [dictaa[aa] for aa in dftable['AA'].to_list()]
dftable['AminoAcids']= aa1
dftable

     AA      KD AminoAcids
0   Ala   1.800          A
1   Arg  -4.500          R
2   Asn  -3.500          N
3   Asp  -3.500          D
4   Cys   2.500          C
5   Gln  -3.500          Q
6   Glu  -3.500          E
7   Gly  -0.400          G
8   His  -3.200          H
9   Ile   4.500          I
10  Leu   3.800          L
11  Lys  -3.900          K
12  Met   1.900          M
13  Phe   2.800          F
14  Pro  -1.600          P
15  Ser  -0.800          S
16  Thr  -0.700          T
17  Trp  -0.900          W
18  Tyr  -1.300          Y
19  Val   4.200          V

In [27]:
# Atributos del objeto protein
[x for x in dir(prot) if x.count('_') < 2]

['accessions',
 'annotation_update',
 'comments',
 'created',
 'cross_references',
 'data_class',
 'description',
 'entry_name',
 'features',
 'gene_name',
 'host_organism',
 'keywords',
 'molecule_type',
 'organelle',
 'organism',
 'organism_classification',
 'protein_existence',
 'references',
 'seqinfo',
 'sequence',
 'sequence_length',
 'sequence_update',
 'taxonomy_id']

In [28]:
 # Tarea Crear una tabla que cuente los aminoácidos totales de la proteína y luego un gráfico en altair que muestre los datos

In [2]:
pip install biopython

Collecting biopython
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 4.4 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython) (1.21.5)
Installing collected packages: biopython
Successfully installed biopython-1.79